h1{
    color: blueviolet;
    
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
span{
    color: rgb(248, 237, 18);
    font-size: 200%;
}
section {
    display: flex;

}
.image{
    width: 50%;
}